.favoritos{
  min-height: 100vh;

  background-color: #010101;

  position: relative;

  overflow: hidden;
}

.blur-top{
  width: 100%;

  height: 180px;

  background: linear-gradient(
    to bottom,
    #001F6C 0%,
    #010101 100%
  );
}

.blur-bottom{
  width: 100%;

  height: 180px;

  background: linear-gradient(
    to bottom,
    #010101 0%,
    #001F6C 100%
  );
}

.conteudo-favoritos{
  width: 92%;

  margin: auto;

  padding: 40px 0 80px 0;
}

.conteudo-favoritos h1{
  color: white;

  font-size: 52px;

  margin-bottom: 50px;

  font-family: "Crimson Text", serif;
}

.grid-favoritos{
  display: flex;

  flex-wrap: wrap;

  gap: 30px;
}

.sem-favoritos{
  text-align: center;

  padding: 100px 20px;

  color: white;
}

.sem-favoritos h2{
  font-size: 38px;

  margin-bottom: 15px;

  font-family: "Crimson Text", serif;
}

.sem-favoritos p{
  font-size: 18px;

  color: #bdbdbd;
}