.perfil{
  min-height: 100vh;

  background-color: #010101;

  overflow: hidden;
}

.perfil-top{
  width: 100%;

  height: 180px;

  background: linear-gradient(
    to bottom,
    #001F6C 0%,
    #010101 100%
  );
}

.perfil-bottom{
  width: 100%;

  height: 180px;

  margin-top: 80px;

  background: linear-gradient(
    to bottom,
    #010101 0%,
    #001F6C 100%
  );
}

.conteudo-perfil{
  width: 85%;

  margin: auto;

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 200px;
}

.foto-area{
  display: flex;

  flex-direction: column;

  align-items: center;
}

.foto-preview{
  width: 500px;

  height: 500px;

  border-radius: 50%;

  border: 2px solid rgba(255,255,255,0.6);

  display: flex;

  justify-content: center;

  align-items: center;

  cursor: pointer;

  overflow: hidden;
}

.foto-preview img{
  width: 100%;

  height: 100%;

  object-fit: cover;
}

.foto-preview svg{
  font-size: 70px;

  color: white;
}

.foto-area h3{
  color: white;

  margin-top: 20px;

  font-size: 34px;

  font-family: "Crimson Text", serif;
}

.formulario-perfil{
  width: 450px;

  display: flex;

  flex-direction: column;

  gap: 25px;
}

.grupo-perfil{
  display: flex;

  flex-direction: column;
}

.grupo-perfil label{
  color: white;

  margin-bottom: 8px;

  font-size: 22px;

  font-family: "Crimson Text", serif;
}

.input-perfil{
  position: relative;
}

.input-perfil input,
.input-perfil select{
  width: 100%;

  background-color: #2a2a2a;

  border: 1px solid rgba(255,255,255,0.3);

  border-radius: 999px;

  color: white;

  padding: 10px 40px 10px 15px;

  font-size: 20px;

  font-family: "Crimson Text", serif;

  outline: none;
}

.input-perfil input:focus,
.input-perfil select:focus{
  border-color: #2453ff;
}

.icone-lapis{
  position: absolute;

  right: 15px;

  top: 50%;

  transform: translateY(-50%);

  color: white;

  opacity: 0.8;
}

.btn-salvar{
  margin-top: 20px;

  padding: 12px;

  border: none;

  border-radius: 999px;

  background-color: #2453ff;

  color: white;

  font-size: 20px;

  font-family: "Crimson Text", serif;

  cursor: pointer;

  transition: 0.3s;
}

.btn-salvar:hover{
  transform: translateY(-2px);
}

.btn-logout {

  width: 100%;

  margin-top: 15px;

  padding: 14px;

  border: none;
  border-radius: 999px;

  background: #c62828;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

}