.filmes{
  min-height: 100vh;

  background-color: #010101;

  overflow: hidden;
}

.blur-top{
  width: 100%;

  height: 120px;

  background: linear-gradient(
    to bottom,
    #001F6C 0%,
    #010101 100%
  );
}

.blur-bottom{
  width: 100%;

  height: 180px;

  margin-top: 80px;

  background: linear-gradient(
    to bottom,
    #010101 0%,
    #001F6C 100%
  );
}

.conteudo-filmes{
  width: 95%;

  margin: auto;
}

.barra-pesquisa{
  display: flex;

  justify-content: center;

  position: relative;

  margin-bottom: 30px;
}

.barra-pesquisa input{
  width: 520px;

  height: 50px;

  background-color: #2a2a2a;

  border: none;

  border-radius: 999px;

  padding: 0 55px 0 22px;

  color: white;

  font-size: 16px;

  outline: none;

  font-family: "Crimson Text", serif;
}

.icone-busca{
  position: absolute;

  right: calc(50% - 245px);

  top: 50%;

  transform: translateY(-50%);

  color: #c9c9c9;

  font-size: 18px;
}

.filtros{
  display: flex;

  justify-content: center;

  gap: 22px;

  margin-bottom: 70px;

  flex-wrap: wrap;
}



.categoria{
  margin-bottom: 90px;
}

.titulo-categoria{
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 30px;
}

.categoria h2{
  font-size: 36px;

  color: white;

  font-family: "Crimson Text", serif;
}

.btn-adicionar{
  background-color: #171717;

  color: white;

  border: none;

  padding: 12px 28px;

  border-radius: 999px;

  cursor: pointer;

  font-size: 22px;

  transition: 0.35s ease;

  font-family: "Crimson Text", serif;

  text-decoration: none;

  display: flex;

  align-items: center;

  justify-content: center;
}

.btn-adicionar:hover{
  background-color: #2b2b2b;
}

.linha-posters{
  display: grid;

  grid-template-columns:
  repeat(auto-fill, minmax(220px, 220px));

  justify-content: center;

  column-gap: 70px;

  row-gap: 90px;

  margin-top: 40px;
}

.linha-posters a{
  transition: 0.35s ease;
}

.linha-posters a:hover{
  transform: scale(1.05);
}

.linha-posters{
  display: grid;

  grid-template-columns:
  repeat(auto-fill, minmax(220px, 220px));

  justify-content: center;

  column-gap: 90px;

  row-gap: 110px;
}

.filtros select{
  background-color: #3b4fff;

  border: none;

  color: white;

  padding: 12px 16px;

  border-radius: 999px;

  font-size: 22px;

  cursor: pointer;

  transition: 0.35s ease;

  font-family: "Crimson Text", serif;

  outline: none;

  width: 140px;

  text-align: center;
}

.filtros select:hover{
  background-color: #5366ff;
}

.filtros select option{
  background-color: #171717;

  color: white;
}