.home{
  min-height: 100vh;

  background-color: #010101;
}

.hero{
  width: 100%;

  height: 620px;

  overflow: hidden;

  position: relative;
}

.slider{
  width: 100%;

  height: 100%;
}

.slides{
  display: flex;

  width: 400%;

  height: 100%;

  animation: slide 18s infinite;
}

.slides img{
  width: 100vw;

  height: 620px;

  object-fit: cover;

  flex-shrink: 0;
}

.catalogo{
  width: 88%;

  margin: auto;

  padding: 50px 0;
}

.catalogo h2{
  color: white;

  font-size: 42px;

  margin-bottom: 25px;

  font-family: "Crimson Text", serif;

  font-weight: 600;
}

.linha-filmes{
  display: flex;

  flex-wrap: wrap;

  gap: 35px;

  padding: 10px 0 20px 0;
}

.blue-glow{
  width: 100%;

  height: 160px;

  background: linear-gradient(
    to bottom,
    #010101 0%,
    #001F6C 100%
  );
}

@keyframes slide{

  0%{
    transform: translateX(0%);
  }

  20%{
    transform: translateX(0%);
  }

  25%{
    transform: translateX(-100vw);
  }

  45%{
    transform: translateX(-100vw);
  }

  50%{
    transform: translateX(-200vw);
  }

  70%{
    transform: translateX(-200vw);
  }

  75%{
    transform: translateX(-300vw);
  }

  95%{
    transform: translateX(-300vw);
  }

  100%{
    transform: translateX(0%);
  }

}